<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Flash</a></h1>
	        <ul class="list-unstyled components mb-5">
             
	          <li class="active">
	              <a href="#"><span class="fa fa-user mr-3"></span> Umum</a>
	              <ul class="list-unstyled components">
	                  <li>
                        <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Normal</button>
                        </form>
                      </li>

                      <li>
                        <form id="" action="{{ url_for('count_fragments') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Hitung</button>
                        </form>
                      </li>

	                  <li>
                        <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Grayscale</button>
                        </form>
                      </li>
                      <li>
                        <form id="" action="{{ url_for('binary_conversion') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Binary</button>
                        </form>
                      </li>
                      
                      <li>
                        <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom In</button>
                        </form>
                      </li>
                      <li>
                        <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom Out</button>
                        </form>
                      </li>
	                  <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
	              </ul>
	          </li>

            <li>
              <a href="#"><span class="fa fa-user mr-3"></span> Pergeseran</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Geser Atas</button>
                      </form>
                    </li>
                  <li>
                      <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Geser Bawah</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Geser Kanan</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Geser Kiri</button>
                      </form>
                    </li>
                  <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
              </ul>
            </li>
            <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Penerangan</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Terang (*)</button>
                      </form>
                    </li>
                  <li>
                      <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Gelap (/)</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Terang (+)</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Gelap (-)</button>
                      </form>
                    </li>
                  <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
              </ul>
            </li>

            <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Analisis Gambar</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Histogram</button>
                      </form>
                    </li>
                  <li>
              </ul>
            </li>

            <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Pemrosesan Gambar</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Histogram Equalizer</button>
                      </form>
                    </li>
                  <li>
              </ul>
            </li>

            <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Filter Gambar</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Edge Detection</button>
                      </form>
                  </li>
                  <li>
                      <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Blur</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Sharpening</button>
                      </form>
                    </li>
                  <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
              </ul>
            </li>
            <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Morfologi</a>
              <ul class="list-unstyled components">
                  <li>
                      <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Dilasi</button>
                      </form>
                  </li>
                  <li>
                      <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Erosi</button>
                      </form>
                    </li>
                    <li>
                      <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                          <button type="submit" class="btn btn-primary">Opening</button>
                      </form>
                    </li>
                    <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                      <button type="submit" class="btn btn-primary">Closing</button>
                  </form>
                  <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
              </ul>
            </li>
            <!-- Di dalam list-unstyled components -->
<li>
  <a href="#"><span class="fa fa-user mr-3"></span>Segmentasi</a>
  <ul class="list-unstyled components">
      <li>
          <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                  <label for="lower_thres">Batas Bawah:</label>
                  <input type="number" name="lower_thres" id="lower_thres" class="form-control" placeholder="0-255">
              </div>
              <div class="form-group">
                  <label for="upper_thres">Batas Atas:</label>
                  <input type="number" name="upper_thres" id="upper_thres" class="form-control" placeholder="0-255">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Thresholding</button>
              </div>
          </form>
      </li>
      <!-- Tambahkan submenu lainnya di sini sesuai kebutuhan -->
  </ul>
</li>

	          <!-- <li>
                <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
	          </li> -->
	        </ul>

	        <!-- <div class="mb-5">
						<h3 class="h6 mb-3">Subscribe for newsletter</h3>
						<form action="#" class="subscribe-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="icon-paper-plane"></span></div>
	              <input type="text" class="form-control" placeholder="Enter Email Address">
	            </div>
	          </form>
					</div> -->

	        <div class="footer">
	        	<p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                    by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                </p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Uploaded Image</h2>
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Hasil</h3>
                                {% if fragment_count %}
                                  <h3>jumlah pecahan : {{ fragment_count }}</h1>
                                {% endif %}
                                <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="image here">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
        
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
        <style>
            /* CSS for submenu */
            .list-unstyled.components ul {
                display: none;
                padding-left: 20px;
            }

            .list-unstyled.components li:hover ul {
                display: block;
            }
        </style>
  </body>
</html>
